* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #ffd4d4;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    max-width: 1000px;
    margin: 40px auto;
    box-shadow: 0 0 20px rgba(126, 0, 0, 0.1);
}


.info {
    background-image: url("imagenes/granos.webp");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 150px 50px;
    width: 50%;
}

.txt-1 {
    color: #ffffff;
    text-transform: capitalize;
    font-size: 30px;
    margin-bottom: 30px;
    -webkit-text-stroke: 0.5px #fff5f5;
}

.info h2 {
    color: hsl(29, 100%, 47%);
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: 25px;
    -webkit-text-stroke: 1px #f3e8e8;
}

.info hr {
    width: 55px;
    border: 4px solid #ffffff;
    margin: 0 auto 25px auto;
}

.txt-2 {
    color: #ffc400;
    font-size: 40px;
    -webkit-text-stroke: 0.8px #aa5757;
}

.form {
    padding: 150px 100px;
    width: 50%;
    text-align: center;
    background-color: #b32d2d;
}

.form h2 {
    color: #fff;
    font-size: 30px;
    margin-bottom: 35px;
}

.form p {
    font-size: 16px;
    color: #fff;
    margin-bottom: 25px;
}

.inputs {
    display: flex;
    flex-direction: column;
}

.box {
    outline: none;
    border-color: #661e1e;
    border-width: 0px 0px 0px 5px;
    border-style: solid;
    padding: 15px 35px;
    margin-bottom: 20px;
    background-color: #fff;
}

.inputs a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    margin-bottom: 35px;
}

.submit {
    background-color: #fff;
    padding: 15px;
    border: 0;
    color: #b32d2d;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 25px;
    cursor: pointer;
}