html,
body {
    position: relative;
    height: 100%;
}
body {
    background-color: #e4e00fdc;
    font-family: Helvetica neue, Helvetica;
    font-size: 14px;
    color: #fff;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    padding: 150px 0 50px 0;
}

.swiper-slide {
    width: 300px;
    height: 500px;
    background-color: #b32d2d;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
}
.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;   
}

.icons i {
    font-size: 20px;
    color: #fff
}

.icons img {
    width: 120px;
}
.product-content {
    display: flex;
    justify-content: space-between;
}
.product-txt {
    flex-basis: 50%;
    text-align: left;
}
.product-txt span {
    font-size: 25px;
    color: #fffb00;
    font-weight: bold;
}
.product-txt h3 {
    font-size: 20px;
    color: #000000;
    text-transform: uppercase;
}
.product-txt p {
    font-size: 14px;
    color: #fff;
}
.produc-img {
    flex-basis: 50%;
    text-align: right;
}
.produc-img img {
    width: 120px;
}

.btn-1 {
    display: inline-block;
    padding: 13px 55px;
    border: 1px solid #fffb00;
    border-radius: 25px;
    color: #fffb00;
    margin-top: 50px;
}
